* {
    margin: 0;
    padding: 0;
}

.button-group {
    margin: 1% 10%;
}

.search-bar {
    max-width: 80%;
    padding: 4px;
}

#records {
    border: 1px solid black;
    padding: 20px;
    height: 400px;
    overflow: scroll;
}

.batchupdate {
    color: white;
    text-decoration: none;
}

.batchupdate:hover {
    color: white;
    text-decoration: none;
}

.save {
    padding: 20px;
    background-color: black;
}

.saveform {
    display: inline-block;
}

#modelerror {
    padding: 10px;
}